h1 {
    text-align: center;
}


label {
    display: block;
    text-align: center;
    height: 50px;
}
input {
    display: block;
    margin:auto;
    margin-bottom: 30px;
}

p {
display:block;
text-align: center;
margin-bottom: 2%;
}
